{% extends 'base.html' %}

{% block title %} Restaurant Detail {% endblock %}


{% block content %}
<hr class="my-3">
<div class="container-fluid">
    <div class="card mb-3">
        {% with bg_image=business['image_url'] %}
        <div class="jumbotron" style='background:url({{bg_image}}) no-repeat center; background-size:cover'>
        {% endwith %}
        </div>
        <div class="card-body">
            <h2 class="card-title font-weight-bold">{{business['name']}} {% if business['hours'][0]['is_open_now'] %} (Opening) {%else%} (Closed) {% endif %}</h5>
            <div class="row">
                <div class="col-md-6">
                    <h2 class='display-5'>About</h2>
                    <p class="card-text">Rating 
                        {% if business['rating'] % 1 == 0%}
                            {% for i in range(math.floor(business['rating'])) %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% for i in range(5-math.floor(business['rating'])) %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        {% else %}
                            {% for i in range(math.floor(business['rating']-0.5)) %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            <i class="fas fa-star-half"></i>
                            {% for i in range(4-math.floor(business['rating'])) %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        {% endif %}
                        ({{business['rating']}})
                    </p>
                    <p class="card-text"><span class="">
                        {% if business['price'] %}
                            Price Range:</span>
                            {% for i in range(business['price'] | length) %}
                                <i class="fas fa-dollar-sign"></i>
                            {% endfor %}
                        {% else %}
                            Price Range Unavailable
                        {% endif %}
                    </p>
                    <p class="card-text"><span class="">Phone:</span> {{business['phone']}}</p>
                    <p class="card-text">Address: {{business['location']['address1']}}, {{business['location']['city']}} {{business['location']['state']}} {{business['location']['zip_code']}}</p>
                </div>
                <div class="col-md-6">
                    <h2 class='display-6'>Hours</h2>
                {% if business['hours'][0]['open'][0] %}
                <p class="card-text">Monday: {{business['hours'][0]['open'][0]['start']}}-{{business['hours'][0]['open'][0]['end']}}</p>
                {% else %}
                <p class="card-text">Monday: Closed</p>
                {% endif %}
                {% if business['hours'][0]['open'][1] %}
                <p class="card-text">Tuesday: {{business['hours'][0]['open'][1]['start']}}-{{business['hours'][0]['open'][1]['end']}}</p>
                {% else %}
                <p class="card-text">Tuesday: Closed</p>
                {% endif %}
                {% if business['hours'][0]['open'][2] %}
                <p class="card-text">Wednesday: {{business['hours'][0]['open'][2]['start']}}-{{business['hours'][0]['open'][2]['end']}}</p>
                {% else %}
                <p class="card-text">Wednesday: Closed</p>
                {% endif %}
                {% if business['hours'][0]['open'][3] %}
                <p class="card-text">Thursday: {{business['hours'][0]['open'][3]['start']}}-{{business['hours'][0]['open'][3]['end']}}</p>
                {% else %}
                <p class="card-text">Thursday: Closed</p>
                {% endif %}
                {% if business['hours'][0]['open'][4] %}
                <p class="card-text">Friday: {{business['hours'][0]['open'][4]['start']}}-{{business['hours'][0]['open'][4]['end']}}</p>
                {% else %}
                <p class="card-text">Friday: Closed</p>
                {% endif %}
                {% if business['hours'][0]['open'][5] %}
                <p class="card-text">Saturday: {{business['hours'][0]['open'][5]['start']}}-{{business['hours'][0]['open'][5]['end']}}</p>
                {% else %}
                <p class="card-text">Saturday: Closed</p>
                {% endif %}
                {% if business['hours'][0]['open'][6] %}
                <p class="card-text">Sunday: {{business['hours'][0]['open'][6]['start']}}-{{business['hours'][0]['open'][6]['end']}}</p>
                {% else %}
                <p class="card-text">Sunday: Closed</p>
                {% endif %}
                </div>
            </div>
            <hr class="my-3">
            <div class="row">
                <div class="col">
                    <h2 class='display-5'>Comments</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-3">

{% endblock %}