{% extends 'user/profile.html' %}

{% block title %}Favorites{% endblock %}

{% block show %}
<!-- <div class="container">
    <h1 class='display-6 font-weight-bold'>Favorites:</h1>
    <div class="cards-list">
        {% for i in range((businesses | length)) %}
            <div class="row">
                <div class="col">
                    <div class="card my-3 restaurant-cards-results" >
                        <a href="/restaurants/{{businesses[i]['id']}}" style='text-decoration:none;color:black'>
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div class="image-container">
                                    <img class="card-img-top w-100" src="{{businesses[i]['image_url']}}" alt="Card image cap">
                                    <i class="favorite-btn fas fa-heart"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="display-6 card-text font-weight-bold">
                                                {{businesses[i]['name']}} 
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            
                                            <p class="card-text">
                                                <span class="font-weight-bold">Rating:</span> 
                                                
                                                {% if businesses[i]['rating'] % 1 == 0%}
                                                    {% for i in range(math.floor(businesses[i]['rating'])) %}
                                                        <i class="fas fa-star"></i>
                                                    {% endfor %}
                                                    {% for i in range(5-math.floor(businesses[i]['rating'])) %}
                                                        <i class="far fa-star"></i>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for i in range(math.floor(businesses[i]['rating']-0.5)) %}
                                                        <i class="fas fa-star"></i>
                                                    {% endfor %}
                                                    <i class="fas fa-star-half"></i>
                                                    {% for i in range(4-math.floor(businesses[i]['rating'])) %}
                                                        <i class="far fa-star"></i>
                                                    {% endfor %}
                                                {% endif %}
                                                ({{businesses[i]['rating']}})
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text"><span class="font-weight-bold">
                                                {% if businesses[i]['price'] %}
                                                    Price Range:</span>
                                                    {% for i in range(businesses[i]['price'] | length) %}
                                                        <i class="fas fa-dollar-sign"></i>
                                                    {% endfor %}
                                                {% else %}
                                                    Price Range Unavailable
                                                {% endif %}
                                            </p>
                                            <p class="card-text"><span class="font-weight-bold">Phone:</span> {{businesses[i]['phone']}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text font-weight-bold">{{businesses[i]['location']['address1']}}, {{businesses[i]['location']['city']}} {{businesses[i]['location']['state']}} {{businesses[i]['location']['zip_code']}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> -->
{% endblock %}